body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}
header {
    width: 100%;
}
header img{
    width: 100%;
    cursor: pointer;
}
header img:hover{
    filter: brightness(80%);
    transition: filter 0.5s ease-in-out;
}
h2, p{
    text-align: center;
    padding: 0 54px 0 54px;
}
.container{
    border: none;
    height: 570px;
    width: 27%;
    padding: 23px;
    border-radius: 19px;
}
.container:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    border: 3px solid white;
    background-color: aliceblue;
}
.container1{
    padding: 30px;
    padding-top: 41px;
}
.container img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 86%;
}
.container2{
    display: flex;
    gap: 17px;
    padding: 17px;
}
.container3{
    display: flex;
    gap: 17px;
    padding: 17px;
}
.container4{
    display: flex;
    gap: 17px;
    padding: 17px;
}
.container5{
    display: flex;
    gap: 17px;
    padding: 17px;
}
.container6{
    display: flex;
    gap: 17px;
    padding: 17px;
}
footer{
    text-align: center;
    color: grey;
}